body,
html {
  width: 100%;
  height: calc(100vh - 10vh);
  min-height: calc(100vh - 10vh);
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.modal-dialog {
  width: 340px !important;
}
.modal-content {
  background-color: #212529;
}

/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */
/* path {
  fill: yellow;
  color: white;
} */
/* path {
  fill: grey;
} */
/* g {
  fill: red;
} */
